/* SEND CAPTURE VIA EMAIL */
#subscribe-widget { display: none; padding: 16px; }
/* Overlay */
#btnt-overlay { background-color: #000000; }
/* Container */
#btnt-container { min-height: 250px; min-width: 500px; background-color: #FFFFFF; border: 4px solid #DDDDDD; }
#btnt-container a.btntCloseImg { background: url(icon-close.png) no-repeat; width: 24px; height: 24px; display: inline; z-index: 3200; position: absolute; top: -15px; right: -16px; cursor: pointer; }
