.profile-hub-container {}
.profile-hub-container .ph-level { position: relative; padding: 8px 4px; clear: both; }
.profile-hub-container hr { border-top: 1px solid rgba(0, 0, 0, 0.5); height: 0; margin: 24px 0; }

.cinnamon-cover { position: relative; height: 300px; }
.cinnamon-cover-preview { width: 100%; height: 150px; margin: 0 0 64px 0; position: relative; }
.cinnamon-cover-preview img { width: 60px; height: 60px; position: absolute; left: 16px; bottom: -32px; }
.cinnamon-cover a.overlay { position: absolute; top: 4px; left: 4px; background-color: rgba(255, 255, 255, 0.95); padding: 8px; color: #444444; }
.cinnamon-cover a.overlay { text-decoration: none; }
.cinnamon-cover a.overlay:hover { color: #444444; }
.cinnamon-avatar { float: left; text-align: center; margin: -64px 0 0 0; }

.cinnamon-meta { float: left; border-right: 1px solid rgba(0, 0, 0, 0.25); font-size: 12px; padding: 0 8px; }
.cinnamon-meta:last-child { border-right: 0 none; }
.cinnamon-meta a { text-decoration: none; }

.cinnamon-field { float: right; text-align: right; }
.cinnamon-field p { margin: 0 0 8px 0; }

.cinnamon-stats { position: absolute; bottom: 4px; right: 4px; background-color: rgba(255, 255, 255, 0.95); padding: 8px; color: #444444; }
.cinnamon-stats a:hover { color: #444444; }

.cinnamon-padding-top { margin: 3px 0 0 0; }

.profile-hub-container .ph-detail {
    font-weight: bold;
}
.profile-hub-container h3 {
    margin: 8px 0;
    padding: 2px 4px 2px 0;
    text-transform: uppercase;
    font-size: 14px;
}
.profile-hub-container .ph-nametag {
    font-size: 28px;
    display: inline-block;
    padding: 0 12px;
    text-transform: uppercase;
}
.profile-hub-container .ph-locationtag {
    font-size: 16px;
    display: inline-block;
    padding: 2px 12px;
    text-transform: uppercase;
}
.profile-hub-container .avatar {
    width: 120px;
    height: 120px;
    margin: 0;
}
.profile-hub-container .tabs_item .avatar {
    width: 90px;
    height: 90px;
    margin: 0;
}


.cinnamon-paragraph {
    margin: 12px 0;
    clear: both;
}
.cinnamon-paragraph b {
    font-size: 16px;
    font-weight: normal;
}
.cinnamon-columns {}
.cinnamon-followed img {
    margin: 0 8px 0 0;
    width: 48px;
    height: 48px;
    float: left;
}


.single-heading {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: normal;
    margin: 24px 0;
}

.cinnamon .cinnamon-share {
    width: auto !important;
}

/* WORK ON THIS!!! */
.cinnamon-progress {
    display: none;
    background-color: #8fc661;
    text-transform: uppercase;
    font-size: 10px;
}

.cinnamon .description {
    font-size: small;
}
.cinnamon table {
    width: 100%;
}
.cinnamon table th {
    text-align: left;
    vertical-align: top;
    width: 30%;
    font-weight: 400;
}
.cinnamon table td {
    vertical-align: top;
    width: 70%;
}
.cinnamon hr {
    border: 0;
    height: 1px;
    background-color: #666666;
    margin: 16px 0;
}

.cinnamon-grid ul { margin: 0; padding: 0; }
.cinnamon-grid ul li { list-style: none; margin: 0 1px 1px 0; padding: 0; display: inline-block; }
.cinnamon-grid ul li img { width: 100px; height: 100px; opacity: 1; }
.cinnamon-grid ul li img:hover { opacity: 0.85; }

.cinnamon-grid-blank img { opacity: 1; margin: 0 1px 1px 0; }
.cinnamon-grid-blank img:hover { opacity: 0.85; }
#cinnamon-feature {
    text-align: center;
    margin: 0 0 8px 0;

    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.cinnamon-card-grid ul { margin: 0; padding: 0; }
.cinnamon-card-grid ul li { list-style: none; margin: 0 1px 1px 0; padding: 0; display: inline-block; }
.cinnamon-card-grid ul li img { width: auto; height: 100px; opacity: 1; }
.cinnamon-card-grid ul li img:hover { opacity: 0.85; }

.cinnamon-card { background-color: rgba(0, 0, 0, 0.15); width: 260px; height: 228px; display: block; float: left; margin: 0 8px 8px 0; overflow: hidden; position: relative; }
.cinnamon-card-inner { padding: 8px; }
.cinnamon-card .avatar-holder { float: left; margin: 0 8px 16px 0; }
.cinnamon-card .location-holder { text-overflow: ellipsis; overflow: hidden; }
.cinnamon-card .cinnamon-card-inner h3 { font-size: 16px; font-weight: 400; margin: 0; clear: none; }
.cinnamon-card .mosaicflow div { width: 30.33%; float: left; margin: 0 8px 0 0; }
.cinnamon-card .mosaicflow div:last-child { margin: 0 0 0 0; }
.cinnamon-card .mosaicflow div img { width: 100%; height: auto; }

.cinnamon-card .cinnamon-backflip { position: absolute; width: 260px; height: 228px; line-height: 228px; text-align: center; background-color: rgba(0, 0, 0, 0.75); opacity: 0; z-index: 99; }
.cinnamon-card .cinnamon-backflip a { color: #ffffff; display: block; width: 260px; height: 228px; line-height: 228px; text-align: center; text-decoration: none; }
.cinnamon-card .cinnamon-backflip a:hover,
.cinnamon-card .cinnamon-backflip a:visited { color: #ffffff; }
.cinnamon-card:hover .cinnamon-backflip { opacity: 1; }


.cornholio { width: 930px; margin: 0 auto; }
.cornholio .c-main { text-align: center; font-size: 32px; font-weight: 300; }
.cornholio .c-description { text-align: center; font-size: 14px; font-weight: 300; }
.cornholio .c-social { text-align: center; font-size: 24px; }
.cornholio .c-footer { text-align: center; font-size: 12px; }

ul, li {padding: 0; margin: 0; list-style: none}
.clear {clear: both}

/* Tab */
#tab { text-align: center; margin: 48px 0 0 0; box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); }
#tab li { display: inline-block; }
#tab li a { display: block; padding: 12px 0; margin: 0 48px; font-size: 16px; text-decoration: none; }
#tab li.active a {}
.tab_icerik { padding: 10px; }

#cinnamon-index { text-align: center; margin: 16px 0; }
#cinnamon-index a { text-decoration: none; }


.follow-links { padding: 8px 0; }
.follow-links a { text-decoration: none; }


.tab {
    position: relative;
    overflow: hidden;
}
.tabs {
    display: table;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.tabs li {
    float: left;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: relative;
    margin: 0 !important;
}
.tabs .current a, .tabs a:hover { background-color: rgba(0, 0, 0, 0.5); color: #ffffff; }
.tabs_item p { margin: 0 0 8px 0; }
.tabs a {
    display: block;
    padding: 0 12px;
    text-decoration: none;
}
.tabs a:hover {}
.tabs_item {
    display: none;
    padding: 30px 0;
}
.tabs_item:first-child {
    display: block;
}
.tabs .current a {}

.cinnamon-award-list-item {
    margin: 0 1px 0 0;
    display: inline-block;
    padding: 2px 4px;
    font-size: small;
}

/* module: activity feed */
#activity, #activity-archive { list-style : none; background-color: rgba(0, 0, 0, 0.15); padding: 8px; }
#activity-archive li { clear: both; margin: 0 0 8px 0; }
#activity-archive .avatar { float: left; margin: 0 8px 0 0; }
.act-old { color: #AAA; }
